*{margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
}



html{}
body{
   display: grid;
   grid-template-columns: 1fr 7fr 1fr;
   
}

header{
    display: inline;
  margin-bottom: 5vw;
  margin-top: 4vw;
  
}

footer{
   
}


footer{
    grid-column: 1/4;
  text-align: center;
  justify-content: center;
 display: grid;
   height: fit-content;
    width: 100%;
    grid-template-columns: 1fr 5fr 1fr;
}
 .logo{
    grid-column: 2/3;
    width: 100%;
    height: 10vw;
 
} 

header ul{
    
     margin-top: 3vw;
    width: 100%;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    list-style: none;
    gap: 1vw;
    
    
}

header ul li{
    /* border-radius: 3px;
    text-align: center;
    height: 3vw;
   border: 0.2vw solid green; */
 
   
}
header ul li a{
    
    border-radius: 3px;
    background-color: white;
    text-align: center;
    width: 100%;
    padding: 1vw;
    border: 0.2vw solid green;
    padding-left: 2vw;
    padding-right: 2vw;
}

header ul li a:hover{
    background-color: green;
    color: white;
  
}

header, main{
    grid-column: 2/3;
    z-index: 9999;
}

main {

    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 3vw;
}







a{

    text-decoration: none;
    font-family: calluna-sans, sans-serif;
    font-weight: 400;
    font-style: italic;
}

h1{
    letter-spacing: 5px;
    font-family: corn-dog, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 7vw;
    text-decoration: none;
    color: blue;
}

h2{
    letter-spacing: 4px;
   
}

h3{
    letter-spacing: 4px;
   
    font-family: calluna-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
}

p{letter-spacing: 1.2px;
    font-family: calluna-sans, sans-serif;
font-weight: 400;
font-style: normal;
}

.background-image{
    margin: 0;
    background-image: url("/images/background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    margin-top: 20vw;
    position: absolute;
    height: 100vh;
    z-index: 1;
    opacity: 20%;
    
    
}

main h2{
    letter-spacing: 4px;
    width: 23vw;
    font-size: 4vw;
    grid-column: 1/2;
    text-align: right;
    font-family: corn-dog, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.5vw;
    
}

main h3{
    margin-top: 0.8vw;
    margin-bottom: 1.5vw;
}

#projects {
grid-column: 1/3;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: space-between;

}

.project {
    width: 23vw;
    height: 23vw;
    
    /* background-color: grey; */
}

.project img{
    margin-bottom: 1vw;
    height: 60%;
}

.outro{
    text-align: center;
    grid-column: 1/3;
    margin-bottom: 5vw;
    margin-left: 10vw;
    margin-right: 10vw;
}


article h2 {
    font-size: 2vw;
    color: black;
    text-align: center;
}

.section-ventilen{
    grid-column: 1/4;
    gap: 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 5vw;
}

.section-ventilen h2 {
    width: 100%;
    text-align: center;
    font-size: 3vw;

}



.wrapper:nth-of-type(2) p {
    padding-top: 4vw;

}

.links {
    text-align: right;
   
}

.links p {
    margin-top: 1.4vw;
}

.links a {
    text-decoration: none;
    color: orangered;
}


iframe{
    height: 23vw;
}

.bottom-wrapper{
    grid-column: 1/4;
    text-align: center;
}

.fix-wrapper p{
    padding-top: 8vw;
}


.logo{
   /*  grid-column: 1/3;
    background-image: url("images/logo_01.png");
    background-size: cover;
 height: 100%;
    width: 100%; */
}

.kanon-img {
    width: 26vw;
    grid-column: 1/2;
}

.kanon-img a{
    text-align: center;
    font-size: 1.5vw;
    
}

.info {
    grid-column: 2/3;
}

.info ul {
    padding-left: 2vw;
    
}

.info-section {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.info-wrapper{
    grid-column: 1/3;
    text-align: center;
}

.toteacher-section{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vw;
}

.toteacher-section h2{
    grid-column: 1/2; 
    font-size: 2vw;
    text-align: left;
    width: 100%;
    line-height: 1.6; 
   
}

.info {
    grid-column: 2/3;
    margin-bottom: 1vw;
}

#info-bottom li{
list-style: none;
text-decoration: none;
}

.info{
    font-weight: bold;
    
}

#info-bottom ul{
    padding: 0;
    list-style: none;
    text-decoration: none;
    
    }


    #links {
        gap: 4vw;
        text-align: left;
        grid-column: 1/4;
        display: grid;
        grid-template-columns: 2fr 3fr;
    }

   
    .link h2 {
        font-size: 2vw;
        text-align: left;
        padding: 0;
        margin-bottom: 1.5vw;
        width: 100%;
    }

    .link:first-of-type{
        grid-column: 1/2;
    }
    .link:nth-of-type(2){
        grid-column: 1/2;
    }
    .link:nth-of-type(3){
        grid-column: 1/2;
    }
    .link:nth-of-type(4){
        grid-column: 2/3;
       grid-row:1/2;
    }
    .link:nth-of-type(5){
        grid-column: 2/3;
        grid-row:2/3;
    }

    #team {
        grid-column: 1/4;
        display: grid; 
        
        grid-template-columns: 1fr 1fr;
    }

    #team h2 {
        width: 100%;
        text-align: center;
    }

    #team ul {
        margin-top: 2vw;
        list-style: none;
        width: 100%;
        padding:0;
        
    }